@font-face {
    font-family: bodyfont;
    src: url(../font/NotoSerif-Bold.ttf);
}
@font-face {
    font-family:titlefont ;
    src: url(../font/NotoSerif-Regular.ttf);
}
body{
    font-family:'bodyfont';
}
/* navbar */
.navbar{
    background: #a4e4e9;
}

/* banner */
.banner .carousel-item{
    width:100%;
    height:25rem;
    object-fit: cover;
}

.banner{
    position:relative;
}
.banner-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
 .title{
    text-align: center;
    padding:50px 0px;
    background: linear-gradient(rgba(59, 219, 19, 0.972),rgba(240, 4, 83, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-transform: uppercase;
    position: relative;
}
.title::after{
    content:'';
    display: block;
    width:100px;
    height:10px;
    background:linear-gradient(lightsalmon,rgb(7, 177, 58)) ;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
.site-color{
    color:rgba(6, 63, 44, 0.904);
}
.bg-site-color{
    color:rgb(33, 63, 63);
}
.about-img{
    position: relative;
    overflow: hidden;
}
.about-img img{
    width:100%;
    height: 100%;
}
.about-img::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(45deg,rgba(134, 223, 142, 0.993),rgba(40,100,128,0.6));
}
.about p{
    line-height: 1.5rem;
}
/* Services */

.service .card img{
    height:15rem;
    object-fit: cover;
}

.service .service-content{
    background-image: url(/img/bn4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* projects */
.project .card{
    overflow:hidden;
}
.project .card img{
    height: 20rem;
    object-fit: cover;
    transition: all 0.5s ease-in;
}
.card img:hover{
    transform: scale(1.5);
}
.contact{
    background: #e9daaa;
}
/* Up */

.up{
    border:2px solid #e9daaa;
    display:flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: aquamarine;
    position: fixed;
    right:10px;
    bottom: 10px;
    opacity: 0;
    transition: all 0.5s ease-in;
    cursor:pointer;
}